
:root{
    --primary-color: #30D5C8;
    --seconday-color: rgb(175, 238,238);
    --active: #333;
    --inactive: #f3f3f3;
}

/* Utilities */

.reverse{
    transform: scaleX(-1);
}

.inactive{
    color: lightgrey;
}

.visible{
    display:block;
}

.invisible{
    display: none;
}

/* Calendar Section */

body{
    display: grid;
    grid-template-columns: 0.65fr 0.35fr;
    height: 100vh;
    font-family: Tahoma, Arial, sans-serif;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.calendar-container{
    display: flex;
    flex-flow: column nowrap;
    background-color: transparent;
    margin: 0;
    padding: 1rem;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.calendar-container header{
    color: var(--primary-color);
    width: 80%;
}

.calendar-container header .clock-container{
    position: relative;
}

.calendar-container header .clock-container #clock{
    color: var(--primary-color);
    font-size: 4em;
}

.calendar-container header #year-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;

}

.calendar-container header #year-container h1{
    font-weight: 300;
    font-size: 3rem;
    margin: 0;
}

.calendar-container header #year-container #year{
    font-weight: bold;
}

.calendar-container header #month-container{
    border-bottom: 0.15rem solid #e1e1e1;
    flex-basis: 100%;
}

.calendar-container header #month-container li{
    padding: 10px;
}

.calendar-container header #months{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    max-width: 100%;
}

.calendar-container header .month{
    color: rgba(0,0,0, 0.3);
}

.calendar-container header .month .current{
    font-size: 150%;
    color: turquoise;
    border-radius: 10%;
}

.calendar-container header nav .nav-arrow{
    font-size: 200%;
    letter-spacing: -0.6rem;
}

.calendar-container header nav .nav-arrow:hover{
    cursor: pointer;
}

.calendar-container header nav img{
    max-width: 3.5rem;
}

.calendar-container header nav span:hover{
    color: cyan;
}

.calendar-container header nav img.reverse:hover{
    transform:scale(0.95) scaleX(-1);
}

.calendar-container #calendar-dates{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.calendar-body{
    max-width: 100%;
}

.calendar-container #calendar-dates, 
.calendar-container #calendar-days{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    padding: 0;   
}

.calendar-container #calendar-dates li.active{
    background-color: var(--primary-color);
    color: #fff;    
    border-radius: 50%;
    font-weight: bold;
}

.calendar-container #calendar-dates li.active-month{
    background-color: rgba(175,238,238, 0.5);
    border-radius: 50%;
}

.calendar-container #calendar-dates li.inactive-month{
    background-color: rgba(0,0,0, 0.04);
    border-radius: 50%;
}

.calendar-container #calendar-dates li, #calendar-days li{
    list-style: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-size: 0.8em;
    min-width: 4em;
    min-height: 4em;
    margin: 0.5em;
}


/*Event section*/

#event-container{
    flex-basis: 35%;
    background-color: skyblue;
    max-height: 100vh;
}

#showcase{
    position: relative;
    height: 100vh;
    display:flex;
    flex-direction: column;
    padding: 2em;
}

.img-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#showcase header, #showcase .event-list-container, #showcase #add-event{ 
    z-index: 10;
    color: #f3f3f3;
}

#showcase header{
    margin-bottom: 4em;
    margin-top: 1em;
    padding: 0.5rem;
    background-color: rgba(0,0,0, 0.3);
    border-radius: 2cap;
}

#showcase header .day{
    padding-bottom: 0.5em; 
    font-weight: normal;
}

#showcase header .date{
    font-size: 5vh;
    margin: 0.2em;
}

#showcase .event-list-container{
    border-radius: 10%;
    padding: 1em;
    height: 20rem;
    background-color: rgba(0,0,0, 0.3);
}

#showcase .event-list-container h1.header{
    font-size: 3vh;
    font-weight: normal;
    border-bottom: solid 0.2em rgba(0,0,0, 0.4);
}

#showcase .event-list-container ul{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 90%;
    padding-right: 0.5em;
    width: 100%;
    padding-top: 0.1em;
}

#showcase #event-list{
    padding: 0;
    max-height: 15rem;
}

#showcase .event-list-container li{
    padding: 0;
    border-bottom: solid 0.1em rgba(0,0,0, 0.4);
    display: flex;
}

#showcase .event-list-container li .date{
    font-size: 3vh;
    margin: 0.2em;
}

#showcase .event-list-container li .date-spec{
    margin-right: 0.7rem;
}

#showcase form#add-event{
    margin-top: 1em;
    background: rgba(0,0,0,0.3);
    border-radius: 2cap;
    display: flex;
    padding: 0.5em;
}

#showcase form#add-event .part1{
    margin-right: 0.5em;
}

#showcase form#add-event textarea{
    width: 100%;
}
  
#showcase form#add-event label {
    display: block;
    padding: 0.5em 0;
}

#showcase form#add-event .btn {
    display: block;
    padding: 1em 1.5em;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 0.5em;
    margin: 0.5em 0;
    padding: 1em;
    margin-top: 1em;
}

.error{
    padding: 0.5em;
    border-radius: 2cap;
    text-align: center;
    background: orangered;
    color: #fff;
    padding: 0.5em;
    margin: 0.5em;
}
  
  .btn:hover {
    background: #444;
    cursor: pointer;
  }

/*Scroll css*/
    /* width */
    #showcase .event-list-container ul::-webkit-scrollbar {
        width: 0.5rem;
    }
    
    /* Track */
    #showcase .event-list-container ul::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle */
    #showcase .event-list-container ul::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 1cap;
    }
    
    /* Handle on hover */
    #showcase .event-list-container ul::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

/*Media Queries*/
@media(min-height: 350px){ /*Scroll bar*/
    #showcase .event-list-container ul{
        overflow: scroll;
        overflow-x: hidden;
    }
}

@media(max-width: 768px){
    body{
        display: inline-block;
    }
    .calendar-container{
        width: 80%;
        margin: 1rem;
    }
    .calendar-container header{
        width: 100%;
    }
    .calendar-container header #months{
        padding: 0;
        margin: 0.5rem;
        border: 0;
        justify-content: center;
    }
    
    .calendar-container header .clock-container{
        position: relative;
    }

    #showcase{
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .event-list-container{
        margin: 0;
        padding: 2rem;
        border: 0;
    }
}

@media(max-width: 1068px){

    body{
        display: block;
        max-height: 100%;
    }
    .calendar-container{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .calendar-container header{
        width: 100%;
    }
    .calendar-container header ul #months{
        padding: 0;
        margin: 0;
        border: 0;
        width: 10%;
        justify-content: center;
    }
    
    .calendar-container header .clock-container{
        position: relative;
    }

    .event-list-container{
        margin: 0;
        padding: 2rem;
        border: 0;
    }

    .img-container{
        width: 100%;
        height: 100%;
    }

    
    #event-container{
        flex-basis: 35%;
        background-color: skyblue;
        max-height: 100vh;
    }
    
    #showcase{
        position: relative;
        height: 100%;
        display:flex;
        flex-direction: column;
        padding: 2em;
    }
    
    .img-container{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    .img-container img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


